.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;

    input {
      width: 200px;
      height: 30px;
    }
    button {
      width: 200px;
      height: 30px;
      border: none;
      background-color: blue;
      margin: 5px;
      cursor: pointer;
    }
    .errorText {
      font-size: 14px;
      color: red;
      position: absolute;
      bottom: -30px;
      z-index: 10;
    }
    .login {
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 5px;
      width: 100%;
    }
  }
}
